body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    background: #fff0f6;
}

.hero {
    background: linear-gradient(135deg, #ffd6e8, #ffeaf4);
    padding: 40px;
}

nav a {
    text-decoration: none;
    background: white;
    color: #d86f9b;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 25px;
    display: inline-block;
}

.card {
    background: white;
    width: 340px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

img {
    width: 180px;
    border-radius: 15px;
}

.inicio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffd6e8, #fff);
}

.contenedor-inicio {
    background: white;
    padding: 50px;
    border-radius: 30px;
}

.botones-inicio a {
    text-decoration: none;
    background: #f8c8dc;
    color: #8b4c63;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 25px;
}
.landing {
    height: 100vh;
    background: linear-gradient(135deg, #ffe6f0, #fff8fb, #fdf0f7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-principal {
    background: rgba(255,255,255,0.95);
    width: 75%;
    max-width: 750px;
    padding: 70px 50px;
    border-radius: 35px;
    box-shadow: 0 15px 35px rgba(216,111,155,0.15);
}

.mini-texto {
    color: #d86f9b;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tarjeta-principal h1 {
    font-size: 4.5em;
    margin: 15px 0;
    color: #b84f7e;
}

.tarjeta-principal p {
    font-size: 1.2em;
    color: #6f5864;
    max-width: 600px;
    margin: auto;
    line-height: 1.8;
}

.linea {
    width: 90px;
    height: 4px;
    background: #f8c8dc;
    margin: 30px auto;
    border-radius: 10px;
}

.menu-principal a {
    display: inline-block;
    margin: 12px;
    padding: 16px 28px;
    background: #fff;
    color: #d86f9b;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 6px 14px rgba(216,111,155,0.12);
    transition: 0.3s;
}

.menu-principal a:hover {
    background: #d86f9b;
    color: white;
    transform: translateY(-4px);
}